{
  "printWidth": 120,
  "tabWidth": 2,
  "endOfLine": "lf",
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "quoteProps": "preserve",
  "proseWrap": "preserve",
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
